/* styles/4-filters.css/filters Section */
.filters {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;  /* Full width of the container */
	border-radius: 4px;
	padding: 0 20px;
	display: flex; /* Use flexbox for layout */
	align-items: center; /* Centers items vertically */
	justify-content: flex-end;  /* Space between filter sections */
	box-sizing: border-box;
	margin: 0 auto;  /* Center the filter box horizontally */
	border: 1px solid #DDDDDD;
}

/* Styling the search button */
.search-btn {
	background-color: #FF5A5F;
	color: #FFFFFF;
	font-size: 18px;
	height: 48px;
	width: 20%;
	padding: 0 30px;
	border: 0;
	margin-right: 30px;
	border-radius: 4px;
	cursor: pointer;
	flex-shrink: 0; /* Prevent shrinking */
	transition: opacity 0.3s ease;
}

/* Change button opacity on hover */
.search-btn:hover {
	opacity: 0.9;   /* Change opacity when hovering */
}