/* styles/4-filters.css/filters Section */
.filters {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%; /* Full width of the container */
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex; /* Use flexbox for layout */
	align-items: center; /* Centers items vertically */
	justify-content: flex-end; /* Align button to the right */
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0 auto;  /* Center the filter box horizontally */
}

/* Styling the search button */
.search-btn {
	background-color: #FF5A5F; /* Button color */
	color: #FFFFFF;
	font-size: 18px;
	height: 48px; 
	width: 20%;
	border: none;
	border: 1px solid #DDDDDD;
	flex-shrink: 0;
	border-radius: 4px; /* Right rounded corners */
	cursor: pointer;
	transition: opacity 0.3s ease; /* Smooth hover effect */
}

/* Change button opacity on hover */
.search-btn:hover {
	opacity: 0.9;   /* Change opacity when hovering */

}
header, .container, footer {
    border: 1px solid red; /* Temporary for debugging purposes */
}